@Html.Partial("~/Views/Home/Partial.cshtml")


<div class="container">
    <div class="clearfix mosaicflow">
            <blockquote>
            <h1>Keep your works together with works of famous artists</h1>
            </blockquote>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/1.jpg">
                    <img src="~/image-gallery2/images/1.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/2.jpg">
                    <img src="~/image-gallery2/images/2.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/3.jpg">
                    <img src="~/image-gallery2/images/3.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/4.jpg">
                    <img src="~/image-gallery2/images/4.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/5.jpg">
                    <img src="~/image-gallery2/images/5.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/6.jpg">
                    <img src="~/image-gallery2/images/6.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/7.jpg">
                    <img src="~/image-gallery2/images/7.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/8.jpg">
                    <img src="~/image-gallery2/images/8.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/9.jpg">
                    <img src="~/image-gallery2/images/9.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/10.jpg">
                    <img src="~/image-gallery2/images/10.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/11.jpg">
                    <img src="~/image-gallery2/images/11.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/12.jpg">
                    <img src="~/image-gallery2/images/12.jpg" />
                </a>
            </div>
            <div class="mosaicflow__item">
                <a class="fancyimage" rel="group" href="~/image-gallery2/images/13.jpg">
                    <img src="~/image-gallery2/images/13.jpg" />
                </a>
            </div>
</div>
</div>
